.Menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
}

.Menu img{
  width: 15%;
  margin: 0%;
}

.principal {
  max-width: 480px;
  text-align: center;
  margin: auto;
}

.logo img{
  width: 90%;
  margin-top: 4em;
}

.cuerpo p{
  margin: 1em;
  margin-bottom: 2em;
  margin-top: 3em;
  font-size: 0.89em;
}

.cuerpo img{
  width: 25%;
}

.Tabla{
  margin-top: 2em;
}

.Tabla table{
  margin: auto;
  width: 80%;
}

.Tabla table td{
  width: 50%
}

.btn-home img{
  width: 13%;
  margin-top: 1.5em;
}