.Cabecera-img {
  width: 1.7em;
  margin: 0px;
}

.Arriba {
  max-height: 3em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgb(141, 194, 155);
}

.Menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Menu img {
  width: 4em;
  margin: 0.1em;
}

.principal {
  max-width: 480px;
  text-align: center;
  margin: auto;
}

.logo img {
  width: 15em;
}

.cuerpo p {
  margin: 1em;
  margin-bottom: 2em;
  margin-top: 3em;
  font-size: 0.89em;
}

.Flecha {
  width: 8em;
}

.Tabla {
  margin-top: 2em;
}

.Tabla table {
  margin: auto;
  width: 80%;
}

.Tabla table td {
  width: 50%
}

.btn-home img {
  width: 13%;
  margin-top: 1.5em;
}