.Cabecera-img {
  width: 1.7em;
  margin: 0px;
}

.FormCreate{
  margin: 1em;
}
.Arriba {
  margin: 0.7em;
  max-height: 3em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;}

.Menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Menu img {
  width: 4em;
  margin: 0.1em;
}

.principal {
  max-width: 480px;
  text-align: center;
  margin: auto;
}

.logo img {
  width: 20em;
}

.Carrusel{
  margin: 0em 1em;
  margin-bottom: 1em;
}

.cuerpo {
  margin-top: 0.7em;
}
.cuerpo p {
  margin: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 0.89em;
}

.Flecha {
  width: 6.5em;
  margin-bottom: 1em;
}

.Tabla {
  margin-top: 2em;
}

.Tabla table {
  margin: auto;
  width: 80%;
}

.Tabla table td {
  width: 50%
}

.btn-home img {
  width: 13%;
  margin-top: 1.5em;
}